@{
    ViewData["Title"] = "Books";
}

<div class="text-center">
    <h1 class="display-4">How can I help you today?</h1>
    <ul>
        <li><a asp-area="" asp-controller="Books" asp-action="ViewAll">View books</a></li>
        <li><a asp-area="" asp-controller="Books" asp-action="Register">Register a book</a></li>
        <li><a asp-area="" asp-controller="Books" asp-action="Update">Update</a></li>
        <li><a asp-area="" asp-controller="Books" asp-action="Unregister">Unregister a book</a></li>

    </ul>
</div>
