@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to your friendly local library.</h1>
    <p>Use the links in the navigation bar at the top of the page to find your way around.</p>
</div>
